:host {
  --main-color: #ffdc78;
  --main-color-selected: #e4c56d;
  --alt-color: #8064d6;
  --text-background: white;
  --font-color: black;
  --clear: rgba(0,0,0,0);
  user-select: none; /*used to disable all the weird effect that the movible nav creates*/
  --nav-bar-height: 75px;
  --clear: rgba(0,0,0,0);



/*variables for nav bar*/
  --navButton-pad-top-bottom: 00px;
  --navbutton-pad-left-right: 10px;
  --navBar-group-display: auto;
  --navBar-group-width: auto;
  --navBar-image-size: var(--nav-bar-height);
  --navBar-image-container: none;
  --navBar-image-container-width: auto;
}

#V:checked ~ #mathExtensionGrid{
  --navButton-pad-top-bottom: 20px;
  --navbutton-pad-left-right: 0px;
  --navBar-group-display: flex;
  --navBar-group-width: 100%;
  --navBar-image-size: 50px;
  --navBar-image-container: auto;
  --navBar-image-container-width: 100%;
}


#appSpacer{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  pointer-events: none;
}

#mathExtensionGrid{
  position:fixed;
  display:grid;
  z-index:20000;
  --length-ui: 600px;
  transition: margin 1s;
  min-height:100px;
  min-width:100px;
}

.horizontal {
  bottom:0px;
  left:0px;
  width: 100%;
  height: var(--length-ui);
  max-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr var(--nav-bar-height);
}

.vertical {
  right:0px;
  top:0px;
  height:100%;
  width: var(--length-ui);
  max-width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr 1fr;
}
/*textInputContainer*/

.vertical > #textInputContainer
{
  border-left-style: solid;
  border-left-width: 1px;
}


#textInputContainer
{
  background:white;
  border-top-style: solid;
  border-top-width: 1px;
  overflow:hidden;
}

.textInputOnDragEnter
{
  background:red;
}

/*textOutput*/

#textOutput{
  background:white;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  overflow:hidden;
}




.vertical > #textOutput{
  
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}


/*handle*/



.horizontal > #handle{
  top:0px;
  left:calc(50% - 40px);
}

.vertical > #handle{

  left:-35px;
  top:calc(50% - 5px);
  transform:rotate(90deg);
}

#handle {
  position:absolute;
  z-index: 29;
  -webkit-user-drag: none;
  user-select: all;
  display: var(--math-equation-handle-display, inherit)
}
/*navBar*/

#navBar{
  background: var(--main-color);
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display:flex;
  align-items: center
}

.vertical > #navBar{
  background: var(--main-color);
  display:flex;
  flex-direction: column;
  align-items: center
}

.vertical > #textInputContainer
{
  grid-row: 2 / span 1;
}

.vertical > #textOutput{
  grid-row: 3 / span 1;
}


.vertical > #navBar{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}



@media  screen and (max-width: 700px) { 
  #mathExtensionGrid.horizontal{
    grid-template-columns: 1fr;
    grid-template-rows: var(--nav-bar-height) 100px 1fr 1fr;
  }
}



#reducedUI{
  width:var(--nav-bar-height);
  position:fixed;
  right:0px;
  top:0px;
  z-index: 19000;

  transition-property: margin;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-delay: 1s;
  margin-right: -75px;
}



.minimizedUIButtons{
  width:var(--nav-bar-height);
  height:var(--nav-bar-height);
  background:var(--main-color)
}

