:host {
  --main-color: #ffdc78;
  --alt-color: #8064d6;
  --text-background: white;
  --font-color: black;
  --clear: rgba(0,0,0,0);
  user-select: none; /*used to disable all the weird effect that the movible nav creates*/
}

#appSpacer{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  pointer-events: none;
}

#mathExtensionGrid{
  position:fixed;
  display:grid;
  --length-ui: 600px;

}

.horizontal {
  bottom:0px;
  left:0px;
  width: 100%;
  height: var(--length-ui);
  max-height: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 75px;
}

.vertical {
  right:0px;
  top:0px;
  height:100%;
  width: var(--length-ui);
  max-width: 95vw;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr 1fr;
}

.vertical > #textInputContainer
{
  border-left-style: solid;
  border-left-width: 1px;
}


#textInputContainer
{
  background:white;
  border-top-style: solid;
  border-top-width: 1px;

}

#textOutput{
  background:white;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
}




.vertical > #textOutput{
  
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

}



.horizontal > #handle{
  top:0px;
  left:calc(50% - 40px);
}

.vertical > #handle{

  left:-35px;
  top:calc(50% - 5px);
  transform:rotate(90deg);
}

#handle {
  position:absolute;
  z-index: 29;
  -webkit-user-drag: none;
  user-select: all;
}


@media  screen and (max-width: 700px) { 
  #mathExtensionGrid.horizontal{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  #mathExtensionGrid.vertical{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
}

/*///////////////////////////////////////////////////////////*/
#navBar{
  background: var(--main-color);
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display:flex;
  align-items: center
}

.vertical > #navBar{
  background: var(--main-color);
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display:flex;
  flex-direction: column;
  align-items: center
}


#inputTextMathEquation{
  resize: none;
  box-sizing: border-box;
  padding: 20px;
  border-width: 0;
  width:100%;
  height:100%;
}

#mathJaxViewer{
  padding: 20px;
}

#logo{
  height:100%;
  background-color: var(--alt-color);
}

.navButton{
  height:100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  border-width: 0px;
  box-shadow: none;
  outline: 0;
  background: inherit;
  font-family: 'Times New Roman', Times, serif;
}

/*don't know why i need this else the */
.navButton > svg{
  width:30px;
}


.vertical .navButton {
  padding-left:0px;
  padding-right:0px;
  font-size: 20px;
  width:100%;
  justify-content: center;
}

.navButtonIcons{
  max-width: 30px;
}

.navButton:hover
{
  filter: brightness(90%);
}


input[type="radio"]:checked + label {
  filter: brightness(90%);
}

.flexSpacer{
  flex-grow:2;
  
}


mjx-assistive-mml {
  display:none;
}

#mathJaxViewer {
  user-select: all;
}