


#inputTextMathEquation{
  resize: none;
  box-sizing: border-box;
  padding: 20px;
  border-width: 0;
  width:100%;
  height:100%;
}

#mathJaxViewer{
  padding: 20px;
}

#logoContainer {
  width: var(--navBar-image-container-width);
  color:white;
  background-color: var(--alt-color);
  display: flex;

}
#logoContainer > span {
  flex-grow: 2;
  align-self: center;
  text-align: center;
  font-size: 25px;
  margin-right: calc(var(--navBar-image-size) * -.5);
  display: var(--navBar-image-container);

}

#logo{
  width:  var(--navBar-image-size);
  height: var(--navBar-image-size);
}



.navButton{
  display: block;
  align-items: center;
  display: flex;

  padding-top: var(--navButton-pad-top-bottom);
  padding-bottom: var(--navButton-pad-top-bottom);
  padding-left: var(--navbutton-pad-left-right);
  padding-right: var(--navbutton-pad-left-right);

  font-size: 30px;
  border-width: 0px;
  box-shadow: none;
  outline: 0;
  background: inherit;
  font-family: 'Times New Roman', Times, serif;
}

.navBarGroupButtons{
  display: flex;
  width:   var(--navBar-group-width);
}

/*don't know why i need this else the for the icons */
.navButton > svg{
  width:30px;
}


.vertical .navButton {
  padding-left:0px;
  padding-right:0px;
  font-size: 20px;
  width:100%;
  justify-content: center;
}

.navButtonIcons{
  max-width: 30px;
}

.navButton:hover
{
  background: var(--main-color-selected);
}


input[type="radio"]:checked + label {
  background: var(--main-color-selected);
}

.flexSpacer{
  flex-grow:2;
  
}


mjx-assistive-mml {
  display:none;
}

#mathJaxViewer {
  user-select: all;
}